@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #7a2020;
    --foreground: #000000;
  }
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .month-button {
    @apply py-1.5 bg-white border border-gray-200 transition-colors duration-200 text-center text-sm;
    min-width: 0;
    border-radius: 6px;
  }

  .month-button:hover {
    @apply bg-gray-50;
  }

  .month-button.active {
    @apply bg-green-100 border-green-400 text-green-700;
  }
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

